/*variables de colores*/

:root{
    --fluorescentBlue-color:#79ECE6;
    --aeroBlue-color:#C5F6DE;
   --mediumAquamarine-color:#79ECB3;
   --mediumSpringGreen-color:#29E085;
   --screaminGreen-color:#8EF070;
   --mindaro-color:#ECFF70;
    --orangeYellow-color:#FFD770;
    --mellowApricot-color:#FFB870;
    --atomicTangerine-color:#FFA770;
    --lightSalmon-color:#FF9670;
}
